<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Acesso Negado</title>
</head>
<body>
    <h1>Acesso Negado</h1>
    <p><%= mensagem %></p>
    <a href="/">Voltar à página inicial</a>
</body>
</html>
